@font-face {
    font-family: "Roboto";
    src: url("Roboto-Regular.ttf");
}

h1, h2, h3, h4, h5, h6, p, ul, table {
  font-family: "Roboto";
  color: #FFFFFF;
}


header {
  margin: 10px;
}

body {
  background-color: #7D7E75;
  width: 100vw;
}

.ui.menu .item:before{
  width: 0px;
}

.w-vw-100: {
  width: 100vw;
}

.w-vw-98: {
  width: 98vw;
}

.h-vh-50 {
  height: 50vh;
}

.h-vh-100 {
  height: 100vh;
}

.h-top-bar-minus-remainder {
  height: calc(100vh - 60px)
}

.h-100 {
  height: 100%;
}

.five_col_equal {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.auto_1fr_cols {
  grid-template-columns: auto 1fr !important;
}

.onefr_auto_cols {
  grid-template-columns: 1fr auto !important;
}

.two_col_equal {
  grid-template-columns: 1fr 1fr;
}

.two_col_60_40 {
  grid-template-columns: 60% 1fr;
}

.two_col_70_30 {
  grid-template-columns: 70% 1fr;
}

.three_col_equal {
  grid-template-columns: repeat(3, 1fr);
}
.four_col_equal {
  grid-template-columns: repeat(4, 1fr);
}

.ui.segment:first-child {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.block {
  display: block !important;
}

.gap-2 {
  grid-gap: .5em;
}

.gap-4 {
  grid-gap: 1em;
}

.gap-8 {
  grid-gap: 1.5em;
}

.p-4 {
  padding: .5em;
}

.p-8 {
  padding: 1em !important;
}

.p-16 {
  padding: 2em !important;
}

.py-4 {
  padding-top: .5em;
  padding-bottom: .5em;
}

.center_all {
  justify-self: center;
  align-self: center;
}

.center_all_items {
  justify-items: center !important;
  align-items: center !important;
}

.grid {
  display: grid !important;
}

.center_text {
  text-align: center;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.inline_block {
  display: inline-block !important;
}

.red_bottom_border {
  border-bottom: 1px solid red;
}

.red_border {
  border: 1px solid red;
}

.our_container {
  width: 80%;
  margin: 0 auto;
}

.m-2 {
  margin: .25em auto !important;
}

.m-4 {
  margin: .5em auto;
}

.m-8 {
  margin: 1em auto !important;
}

.p-0 {
  padding: 0 !important;
}

.m-0 {
  margin: 0 auto !important;
}

.m-12 {
  margin: 1.5em auto !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.bb-grey {
  border-bottom: 1px solid grey;
}

.summary_item h4, .summary_item p {
  margin: 0;
  text-align: center;
}

.w-100 {
  width: 100% !important;
}

.w-90 {
  width: 90% !important;
}

.w-95 {
  width: 95% !important;
}

.w-80 {
  width: 80% !important;
}

.b-black {
  border: 2px solid black;
}

.b-radius-4 {
  border-radius: .5em;
}

.w-60 {
  width: 60% !important;
}

.w-40 {
  width: 40% !important;
}

.first_col {
  grid-column: 1 / 2;
}

.span_two_col {
  grid-column:  1 / 3;
}
.span_three_col {
  grid-column: 1 / 4;
}

.w-200px {
  width: 200px !important;
}

.w-125px {
  width: 125px !important;
}

.gap-8 {
  grid-gap: 2em;
}

p {
  margin-bottom: 0 !important;
}

.flex {
  display: flex !important;
}

.center_all_content {
  align-content: center;
  justify-content: center;
}

.text-black {
  color: black !important;
}

.border-bottom-blue {
  border-bottom: 2px solid #2185D0;
}

.grid-auto-flow-columns {
  grid-auto-flow: column;
}

.grid-auto-columns-max-c {
  grid-auto-columns: max-content;
}

.nav_item:hover {
  border-bottom: 2px solid #2185D0;
  cursor: pointer;
}

.active_nav {
  color: #2185D0;
  border-bottom: 2px solid #2185D0;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.multi_selected {
  background-color: #2185D0;
  color: white;
}

.hov_pointer:hover {
  cursor: pointer;
}

.w-100px {
 width: 100px;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.p-2 {
	padding: .25em !important;
}

.show_modal {
  display: block;
}

.hide_modal {
  display: none;
}

.eq_four_col {
  grid-template-columns: repeat(4, 1fr)
}

.m-0-all {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.pt-0 {
  padding-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-2 {
  margin-bottom: .25em !important;
}

button {
  border-radius: 8px;
  padding: .5em;
}

button:hover {
  cursor: pointer;
}

.action_text {
  color: #FB8B24;
}

.action_text:hover {
  cursor: pointer;
  color: #D90368;
}

body {
  margin: 0;
  padding: 0;
}

.w-95 {
  width: 95%
}

.w-98 {
  width: 98%;
}

.game_card {
  border: 2px solid black;
  border-radius: 12px;
  transition: top .35s ease-out;
  top: 0;
}

ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.popover_content {
  visibility: hidden;
  position: absolute;
  left: -150px;
  transform: translate(0, 10px);
  background-color: #bfbfbf;
  padding: 1.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  width: auto;
}
.popover_content:before {
  position: absolute;
  z-index: -1;
  content: "";
  right: calc(50% - 10px);
  top: -8px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #B0B2B8 transparent;
  transition-duration: 0.3s;
  transition-property: transform;
  border-radius: 12px;
}
.popover_message:hover ~ .popover_content {
  z-index: 10;
  visibility: visible;
  transform: translate(0, -20px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
.popover_message {
  text-align: center;
  z-index: 10;
  position: relative;
}

.game_parent_container {
  overflow-y: clip;
  overflow-x: clip;
  max-width: 100vw;
  max-height: 100vh;
}

.yellow_action_button {
  background-color: #ffb703;
  border: 2px groove #fb8500;
  box-shadow: 2px 3px darkgrey;
}

.orange_bottom_border {
  border-bottom: 2px solid #FB8B24;
}

/* flipping class and key frames*/
.flipX {
  animation: 1s anim-flipX linear 10ms;
}
@keyframes anim-flipX {
  0% {
    opacity: 0;
    transform: rotateX(90deg);
  }
  50% {
    opacity: 1;
    transform: rotateX(360deg);
  }
}
